
.depart1 {
    display: flex;
    width: 40vw;
    margin-bottom: 0.6rem;
    justify-content: space-between;
}

.addPropertyH2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #d4af37;
    /* border:1px solid; */
}

.add-room-container {
    max-width: 50vw;
    background-color: rgba(21, 17, 5, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    /* height: 30rem; */
    margin: 30px auto;
    text-align: center;
}


.add-room-form {
    /* border-radius: 8px; */
    padding: 10px 20px;
}

.form-group {
    margin-bottom: 20px;
    justify-content: space-between;
    /* border: 1px solid; */
    display: flex;
    text-align: left;

}

.form-group input{
    padding-left: 0.3rem;
    width: 70%;
    font-size:0.6rem;

}

.form-group label {
    color: #d4af37;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;

}



.checkbox-group {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    width: 40vw;
}

.effect{
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    width: 30%;
    padding: 0;


}

/* .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 0.3rem;
    border: 1px solid;
} */

.checkbox {
    margin-right: 5px;
}

/* .image-list {
    list-style: none;
    padding: 0;
} */

.imageInput {
    background-color: #434647;
    /* border-radius: 5px; */
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
}


.newRoom-btn {
    background-color: #434647;
    color: #fff;
    border: none;
    /* border-radius: 10px; */
    padding: 10px 20px;
    cursor: pointer;
    justify-self: center;
    font-size: 0.7rem;
    margin: 0.3rem auto;
}

.newRoom-btn:hover {
    background-color: #38525c;
    color: #000;
    outline: none;
    transition: 1s;

}

.newRoom-btn-container {
    color: #fff;
    /* border: 1px solid; */
    justify-items: center;
}

@media (max-width: 480px) {
    .add-room-form {
        padding: 15px;
    }

    .add-room-container {
        max-width: 80vw;
        margin: 30px auto;
    }

    .input {
        font-size: 14px;
    }

    /* .button {
        font-size: 11px;
    } */
    .checkbox-group {
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* gap: 10px; */
        width: 80vw;
        /* border:1px solid; */
    }
    
    .effect{
        font-size: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid; */
        width: 50%;
        padding: 0;
    }
}